html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 18px;
}

#gotop {
  position: fixed;
  right: 2%;
  bottom: 2%;
  color: #eba556;
  z-index: 100;
}

a {
  display: block;
  text-decoration: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social .fb {
  border-right: 1px solid #ccc;
}

.social a {
  padding: 5px;
  margin: 5px 0;
}

.social a:hover {
  background-color: #473198;
  color: #fff;
}

.header {
  background: #e4fde1;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header h1 a {
  width: 224px;
  height: 50px;
  background: url(https://i.imgur.com/BaPxppy.png);
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  height: 58px;
}

.navbarItem a {
  color: #338f64;
  font-weight: 1000;
  padding: 20px;
}

.navbarItem a:hover, .navbarItem a.active {
  color: #fff;
  background: #338f64;
}

.navbarItem ul {
  display: none;
}

.navbarItem ul li {
  background: #e4fde1;
  position: relative;
  z-index: 3;
}

.banner {
  position: relative;
}

.banner .swiper {
  max-width: 1024px;
  max-height: 580px;
}

.banner .swiper img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

.banner h2 {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 32px;
  font-weight: bold;
  padding: 30px 20px;
  line-height: 1.5;
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  margin: 30px 0;
}

.course-item {
  width: 300px;
  line-height: 1.5;
  -webkit-box-shadow: 0px 0px 2px 2px #ccc;
          box-shadow: 0px 0px 2px 2px #ccc;
  padding: 15px;
}

.course-item img {
  max-height: 100%;
  max-width: 100%;
}

.course-item h3 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.course-item ul {
  list-style: disc inside;
}

.course-item .lightboxOverlay {
  background: #fdfdfd;
  opacity: 0.5;
}

.compare h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
}

.compare .cptable {
  margin: 20px auto;
}

.compare .cptable th,
.compare .cptable td {
  padding: 10px 100px 10px 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.compare .cptable th {
  background: #7777;
  font-weight: bold;
}

.compare .cptable .highlight {
  color: #59a96a;
  font-weight: bold;
}

.contact {
  width: 100%;
  height: auto;
  background-image: url(https://upload.cc/i1/2021/08/23/um96BC.png);
  background-repeat: repeat-x;
  background-color: #009872;
  color: #fff;
  margin: 0 auto;
}

.contact h2 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #fff;
  margin: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.container input {
  padding: 10px;
  display: block;
}

.container .formleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  padding: 0 10px 20px 10px;
}

.container .formleft label {
  margin-top: 20px;
}

.container .right {
  width: 50%;
}

.container .inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .formright {
  width: 45%;
  padding: 0 10px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .formright textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.container .formright .submit {
  border-radius: 5px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container .formright .submit:hover {
  -webkit-box-shadow: 0 0 5px #d8d5d5;
          box-shadow: 0 0 5px #d8d5d5;
}

.footer {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  display: inline;
}

.footer a:hover {
  cursor: pointer;
}
/*# sourceMappingURL=all.css.map */